html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
    border: 0;
    list-style-type: none;
}
body {
    background-color: rgb(26, 26, 26);
}
.divs {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.377);
    border-bottom: 1px solid orangered;
    box-shadow: 0 0 10px 2px rgb(161, 43, 0);
}
.divs li {
    float: left;
    margin-top: 20px;
}
.nameIcon {
    background: radial-gradient(white,rgb(255, 255, 255),rgb(180, 180, 180));
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: auto;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.hello {
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    margin-left: 50px;
}

/* MAin */
#codepng {
    margin-top: -30px;
}
.tombolStart {
    text-align: center;
}
.End {
    margin-left: 205px;
    padding: 5px 60px;
    background-color: rgb(26, 26, 26);
    border: 1px solid red;
    color: red;    
}
#pngimg {
    height: 40px;
    margin-top: -11px;
    margin-left: 50px;
}
#rankingUser {
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    background-color: rgba(0, 0, 0, 0.377);
    border: 1px solid white;
    color: white;
    padding: 8px 20px;
    border-top-right-radius: 10px;
    cursor: pointer;
    transition: 0.4s;
} #rankingUser:hover {
    background-color: rgba(240, 224, 1, 0.945);
    color: black;
}

@media only screen and (max-width: 1260px){
    .End {
        margin-left: 110px;
    }
}
@media only screen and (max-width: 870px){
    .End {
        margin-left: 75px;
    }
}
@media only screen and (max-width: 690px){
    .End {
        margin-left: 40px;
    }
}
@media only screen and (max-width: 555px){
    .End {
        margin-left: 10px;
    }
}