html body {
    margin: 0;
}

li {
    list-style-type: none;
}

body {
    background-color: rgb(26, 26, 26);
}

.midContain {
    height: 10px;
    width: 30%;
    margin: auto;
    padding-top: 180px;
}


#codepng {
    background-color: white;
    border-radius: 30px;
    padding: 30px;
    height: 350px;
    margin-left: 33px;
    transition: 0.5s;         
}

.tombolStart {
    background-color: orange;
    color: rgb(0, 0, 0);
    text-decoration: none;
    border: none;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 150px;
    margin: 10px 0;
    margin-left: 115px;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.3s;
} .tombolStart:hover {
    color: white;
    background-color: orangered;
    box-shadow: 0px 0px 10px 0px orangered;
}
.tombolSignup {
    background-color: rgb(26, 26, 26);
    color: orangered;
    text-decoration: none;
    border: 1px solid orangered;
    box-shadow: 0px 0px 5px 0px  orangered;
    cursor: pointer;
    text-align: center;
    border-radius: 4px;
    font-size: 15px;
    padding: 5px 100px;
    margin-left: 165px;
    font-family: 'Titillium Web', sans-serif;
    transition: 0.3s;
} .tombolSignup:hover {
    background-color: orangered;
    color: white;
}

.LoginForm {
    padding: 10px;
    padding-left: 20px;
    margin: 0px 100px;
    margin-top: 5px;
    width: 350px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none;
    transition: 0.5s;         
} .LoginForm:focus{
    border-color: orangered;
    box-shadow: 0 0 10px 1px rgba(255, 81, 0, 0.5); 
    }

@media only screen and (max-width: 1260px){
    #codepng {
        /* background-color: rgb(202, 30, 30); */
        margin-left: -70px;
        transition: 0.5s;         
    }
    .tombolStart {
        margin-left: 20px;
    }
    .tombolSignup {
        margin-left: 70px;
    }
    .LoginForm {
    margin: 0px 0px;
    margin-top: 5px;
    }
}
@media only screen and (max-width: 870px){
    #codepng {
        /* background-color: rgb(21, 103, 255); */
        margin-left: -100px;
        transition: 0.5s;         
    }
    .tombolStart {
        margin-left: -15px;
    }
    .tombolSignup {
        margin-left: 35px;
    }
    .LoginForm {
        margin: 0px -35px;
        margin-top: 5px;
    }
}
@media only screen and (max-width: 690px){
    #codepng {
        /* background-color: rgb(66, 146, 29); */
        padding: 20px;
        height: 300px;
        margin-left: -100px;
        transition: 0.5s;         
    }
    .tombolStart {
        padding: 10px 130px;        
        margin-left: -30px;
    }
    .tombolSignup {
        padding: 5px 80px;        
        margin-left: 20px;
    }
    .LoginForm {
        margin: 0px -45px;
        margin-top: 5px;
        width: 300px;
    }
}
@media only screen and (max-width: 555px){
    #codepng {
        /* background-color: rgb(146, 29, 101); */
        margin-left: -130px;
        transition: 0.5s;         
    }
    .tombolStart {     
        margin-left: -60px;
    }
    .tombolSignup {     
        margin-left: -10px;
    }
    .LoginForm {
        margin: 0px -70px;
        margin-top: 5px;
    }
}